@import '_colors.scss';
@font-face {
  font-family: 'Title';
  src: url('../fonts/Titel.otf');
}

@font-face {
  font-family: 'Handschrift';
  src: url('../fonts/Handschrift.ttf');
}

@font-face {
  font-family: 'Text';
  src: url('../fonts/Lauftext.TTF');
}

@font-face {
  font-family: 'ZwischenTitel';
  src: url('../fonts/Zwischentitel.TTF');
}

p {
  font-family: 'Text'!important;
  line-height: 1.4rem!important;
}

h1, h2,h3 {
  font-family: 'Title'!important;
  vertical-align: middle;
  padding-top: 8px!important;
  padding-left: 8px!important;
  padding-right: 8px!important;
  padding-bottom: 0!important;
  display: inline-block;
}

h1, h2, h3,h4, h5, h6, p, a, i {

  transform: rotate(0deg);

  &.right {
    transform: rotate(2deg);
  }

  &.left{
    transform: rotate(-2deg);
  }

  &.blue {
    color: $jubla-blau;
    background-color: white;
  }

  &.white {
    color: white!important;
    background-color: $jubla-blau!important;
  }

  &.no-padding{
    padding: 0!important;
  }

  &.no-margin {
    margin: 0!important;
  }
}
