.card {
  box-shadow: 8px 16px 30px rgba(0, 0, 0, 0.16);
  max-width: 800px;
  position: relative;
  top: 2%;
  width: 100%;
  overflow: hidden;
  border-radius: 24px!important;
  border: none!important;
  margin-bottom: 40px;
}

.card .image{
  position: relative;
  width: 100%;
}

.card .sections {
  position: relative;
  width: 100%;
}
