@import '_fonts.scss', '_colors.scss';
@import 'card.scss';
@import 'jublatag.scss';


body {
  background: #f0f5f9;
  display: grid;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  place-items: center;
  width: 100vw;
}

.left-text {
  text-align: left;
}

.like-glue{
  text-align:center;
  white-space:nowrap;
}

.like-glue>div, .like-glue>p {
  display:inline-block;
  text-align:left;
  vertical-align:top;
}

.like-glue .center {
  margin-left: 30%;
}

.like-glue .left {
  margin-top: -1.75%;
  margin-right: -13%;
}

.let-us-know{
  float:right;
  margin-right:20%;
  margin-top: 18px;
  transform: rotate(2deg);
}
.center-horizontal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.hela-2019 {
  background:rgb(6,1,23);
}
// TODO sizes smaller than 700px => JublaTag
// TODO implement fonts
