.jubla-tag.card {
  background-color: #283583!important;
}


.card.jubla-tag h1 {
  display: inline-block;
  margin: auto auto;
  margin: 6px;
  padding: 6px;
  text-align: center;
}
.card.jubla-tag .like-glue > p:first-child{
  position: relative;
  right: -3%;
}
.card.jubla-tag .info {
  margin: 48px;
}

.card.jubla-tag .like-glue {
  margin-left: 6%;
}

